<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClP9K9hn29LZhBagh5ccjRQXZP441z3D8</string>
	<key>GCM_SENDER_ID</key>
	<string>518137228236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.omarHossamFathey</string>
	<key>PROJECT_ID</key>
	<string>omar-hossam-fathey</string>
	<key>STORAGE_BUCKET</key>
	<string>omar-hossam-fathey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518137228236:ios:94faab4aeb6affb86d8b69</string>
</dict>
</plist>